In [31]:
import pandas as pd
import numpy as np
from itertools import combinations

In [32]:
data=pd.read_csv('/home/root123/Documents/semester-3/Data mining/codes/apriori/apriori1.csv')

# Dataset

In [33]:
data

   id        items
0   1  M,O,N,K,E,Y
1   2  D,O,N,K,E,Y
2   3      M,A,K,E
3   4    M,U,C,K,Y
4   5    C,O,K,I,E

# Combinations of sets

In [34]:
def combination(dataset,n):
    s=[]
    for i in range(dataset.shape[0]):
        s.append(["".join(map(str, comb)) for comb in combinations(dataset["items"][i].split(','), n)])
    return(s)

In [35]:
data['one']=combination(data,1)
data['two']=combination(data,2)
data['three']=combination(data,3)
data['four']=combination(data,4)
data

,id,items,one,two,three,four
0,1,"M,O,N,K,E,Y","[M, O, N, K, E, Y]","[MO, MN, MK, ME, MY, ON, OK, OE, OY, NK, NE, N...","[MON, MOK, MOE, MOY, MNK, MNE, MNY, MKE, MKY, ...","[MONK, MONE, MONY, MOKE, MOKY, MOEY, MNKE, MNK..."
1,2,"D,O,N,K,E,Y","[D, O, N, K, E, Y]","[DO, DN, DK, DE, DY, ON, OK, OE, OY, NK, NE, N...","[DON, DOK, DOE, DOY, DNK, DNE, DNY, DKE, DKY, ...","[DONK, DONE, DONY, DOKE, DOKY, DOEY, DNKE, DNK..."
2,3,"M,A,K,E","[M, A, K, E]","[MA, MK, ME, AK, AE, KE]","[MAK, MAE, MKE, AKE]",[MAKE]
3,4,"M,U,C,K,Y","[M, U, C, K, Y]","[MU, MC, MK, MY, UC, UK, UY, CK, CY, KY]","[MUC, MUK, MUY, MCK, MCY, MKY, UCK, UCY, UKY, ...","[MUCK, MUCY, MUKY, MCKY, UCKY]"
4,5,"C,O,K,I,E","[C, O, K, I, E]","[CO, CK, CI, CE, OK, OI, OE, KI, KE, IE]","[COK, COI, COE, CKI, CKE, CIE, OKI, OKE, OIE, ...","[COKI, COKE, COIE, CKIE, OKIE]"

# Frequency count sets(L)

In [36]:
def L(n,dataset):
  single=[]
  sets={}
  for i in dataset.iloc[0:,n]:
      for j in i:
          single.append(j)
  key=np.unique(single)
  val,counts = np.unique(single, return_counts=True)
  for i in range(counts.shape[0]):
     sets[key[i]]=counts[i]
  return(sets)

In [37]:
L1=L(2,data)
L2=L(3,data)
L3=L(4,data)
L4=L(5,data)

In [38]:
L1

{'A': 1,
 'C': 2,
 'D': 1,
 'E': 4,
 'I': 1,
 'K': 5,
 'M': 3,
 'N': 2,
 'O': 3,
 'U': 1,
 'Y': 3}

In [39]:
L2

{'AE': 1,
 'AK': 1,
 'CE': 1,
 'CI': 1,
 'CK': 2,
 'CO': 1,
 'CY': 1,
 'DE': 1,
 'DK': 1,
 'DN': 1,
 'DO': 1,
 'DY': 1,
 'EY': 2,
 'IE': 1,
 'KE': 4,
 'KI': 1,
 'KY': 3,
 'MA': 1,
 'MC': 1,
 'ME': 2,
 'MK': 3,
 'MN': 1,
 'MO': 1,
 'MU': 1,
 'MY': 2,
 'NE': 2,
 'NK': 2,
 'NY': 2,
 'OE': 3,
 'OI': 1,
 'OK': 3,
 'ON': 2,
 'OY': 2,
 'UC': 1,
 'UK': 1,
 'UY': 1}

In [40]:
L3

{'AKE': 1,
 'CIE': 1,
 'CKE': 1,
 'CKI': 1,
 'CKY': 1,
 'COE': 1,
 'COI': 1,
 'COK': 1,
 'DEY': 1,
 'DKE': 1,
 'DKY': 1,
 'DNE': 1,
 'DNK': 1,
 'DNY': 1,
 'DOE': 1,
 'DOK': 1,
 'DON': 1,
 'DOY': 1,
 'KEY': 2,
 'KIE': 1,
 'MAE': 1,
 'MAK': 1,
 'MCK': 1,
 'MCY': 1,
 'MEY': 1,
 'MKE': 2,
 'MKY': 2,
 'MNE': 1,
 'MNK': 1,
 'MNY': 1,
 'MOE': 1,
 'MOK': 1,
 'MON': 1,
 'MOY': 1,
 'MUC': 1,
 'MUK': 1,
 'MUY': 1,
 'NEY': 2,
 'NKE': 2,
 'NKY': 2,
 'OEY': 2,
 'OIE': 1,
 'OKE': 3,
 'OKI': 1,
 'OKY': 2,
 'ONE': 2,
 'ONK': 2,
 'ONY': 2,
 'UCK': 1,
 'UCY': 1,
 'UKY': 1}

In [41]:
L4

{'CKIE': 1,
 'COIE': 1,
 'COKE': 1,
 'COKI': 1,
 'DKEY': 1,
 'DNEY': 1,
 'DNKE': 1,
 'DNKY': 1,
 'DOEY': 1,
 'DOKE': 1,
 'DOKY': 1,
 'DONE': 1,
 'DONK': 1,
 'DONY': 1,
 'MAKE': 1,
 'MCKY': 1,
 'MKEY': 1,
 'MNEY': 1,
 'MNKE': 1,
 'MNKY': 1,
 'MOEY': 1,
 'MOKE': 1,
 'MOKY': 1,
 'MONE': 1,
 'MONK': 1,
 'MONY': 1,
 'MUCK': 1,
 'MUCY': 1,
 'MUKY': 1,
 'NKEY': 2,
 'OKEY': 2,
 'OKIE': 1,
 'ONEY': 2,
 'ONKE': 2,
 'ONKY': 2,
 'UCKY': 1}

In [42]:
minimum_count=3

# Candidates sets (C)

In [43]:
def candidate_sets(L):
  candidate_set={}
  keys=[]
  for i in L.items():
      if i[1]>=minimum_count:
         candidate_set.update([i]) 
         keys.append(i[0])
  return candidate_set

In [44]:
C1=candidate_sets(L1)
C2=candidate_sets(L2)
C3=candidate_sets(L3)
C4=candidate_sets(L4)

In [45]:
C1

{'E': 4, 'K': 5, 'M': 3, 'O': 3, 'Y': 3}

In [46]:
C2

{'KE': 4, 'KY': 3, 'MK': 3, 'OE': 3, 'OK': 3}

# Most frequent set

In [47]:
C3

{'OKE': 3}